/* Gavin Cox 03/07/2021 CS 125H - Lab 5*/
/*Color Scheme: #023047, #219EBC*/
/*This is the reset selector*/
* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

/*These are the styles for the body*/
body {
    background-image: linear-gradient(to bottom right, #023047, #219EBC, #8ECAE6, #FFB703, #FB8500);
    max-width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
    font-size: 1em;
    border: 2px solid black;
    box-shadow: 2px black;
    line-height: 1em;
    overflow: hidden;
}

p {
    margin: 1em;
    font-size: 1em;
    line-height: 1em;
}
 
/*These are the stlyes for my anchor tags, they help with accessibilty*/
a:link {
    color: #FFB703;
    text-decoration: none;
}

a:hover, a:focus{
    color: red;
}



/*These are the styles for the header*/
header{
    display: flex;
    align-content: flex-start;
    padding: 1em;
    overflow: hidden;
    border-bottom: 2px solid black;
}

/*These are the styles for any img in the header*/
header img{
    margin: .5em;
    max-height: 100px;
    float: left;
    border: 2px solid #023047;
}

/*These are the stlyes for h1 in the header and h2 in main, color is Prussian Blue*/
header h1, main h2{
    font-variant: small-caps;
    text-shadow: 1px 1px 1px #023047;
    color: #FFB703;
}

/*These are the styles for main*/
main{
    margin: 1em 0;
    padding: 1em;
    clear: left;
    overflow: hidden;
}

main p{
    margin-top: 2em;
}

/*These are the styles for h2 in main*/
main h2 {
    margin: 1em;
    text-align: center;
    font-size: 1.8em;
    color: #FB8500;
}

section{
    display: flex;
}

main section article{
    width: 50%;
    margin-top: 2em;
    display: block;
}

main section h3, main section p{
    display: flex;
    color: #023047;
}

/*These are the stlyes for the id "dog_pictures"*/
main section #dogpictures {
    display: flex;
    margin-top: 100px;
    color: #FB8500; /*Blue Green*/
}


main section img{
    border: 2px solid #023047;
    max-height: 200px;
}

/*These are the styles for the footer*/
footer{
    max-width: 950px;
    width: 100%;
    position: absolute;
    height: 1em;
    text-align: center;
    bottom: 0;
    padding: 1em;
    margin: auto;
    overflow: hidden;
}

footer p{
    width: 100%;
    text-align: center;
    font-size: .7em;
}
